{% extends "base.html.twig" %}

{% block title %}404{% endblock %}

{% block body %}
    <h1>Ressource introuvable!</h1>
    <a href={{path("list_author")}}>retour à la liste des auteurs</a>
{% endblock %}